<!DOCTYPE html>
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8" />
    <title>ML API</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <div class="login">
      <h1>Recidivism Predictor</h1>

      <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('predict')}}" method="post">
        <input type="text" name="age" placeholder="Age" required="required" />
        <input
          type="text"
          name="priors_count"
          placeholder="Prior Counts"
          required="required"
        />
        <input
          type="text"
          name="v_decile_score"
          placeholder="V Decile Score"
          required="required"
        />
        <input
          type="text"
          name="decile_score"
          placeholder="Decile Score"
          required="required"
        />
        <input
          type="text"
          name="length_of_stay"
          placeholder="Length of Stay"
          required="required"
        />

        <select name="c_charge_degree" required="required">
          <option value="" disabled selected>Select Charge Degree</option>
          <option value="F">F</option>
          <option value="M">M</option>
        </select>

        <select name="race" required="required">
          <option value="" disabled selected>Select Race</option>
          <option value="African-American">African-American</option>
          <option value="Asian">Asian</option>
          <option value="Caucasian">Caucasian</option>
          <option value="Hispanic">Hispanic</option>
          <option value="Native American">Native American</option>
          <option value="Other">Other</option>
        </select>

   
        <select name="sex" required="required">
          <option value="" disabled selected>Select Sex</option>
          <option value="Female">Female</option>
          <option value="Male">Male</option>
        </select>

        <button type="submit" class="submit-button">Predict</button>
      </form>

      <p>{{ prediction_text }}</p>
    </div>
  </body>
</html>
